<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Web.Library.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="Web.Library.Properties.Settings.ETicaretDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=ETicaretDB;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>